<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <script >
        let idProducto = 0;
        let nombre;
        let descripcion;
        let precio;
        let stock;
        let activo;

        function resetId(){
            idProducto = 0;
        }

        function listarProductos(){
            $.ajax({
                url: 'http://localhost:8091/api/productos',
                type: 'get',
                dataType: 'JSON',
                success: function(response){
                    console.log(response)
                    let len = response.length;
                    let tr_str = '';
                    $("#productos").empty();
                    for(let i=0; i<len; i++){
                        let idProducto =response[i].id;
                        var nombres = response[i].nombre;
                        var descripcion = response[i].descripcion;
                        var precio = response[i].precio;
                        var stock = response[i].stock;
                        var activo = response[i].active;

                        tr_str += `<tr>
                                <td class='text-center'>${nombres}</td>
                                <td class='text-center'>${descripcion}</td>
                                <td class='text-center'>${precio}</td>
                                <td class='text-center'>${stock}</td>
                                <td class='text-center'>${activo?'SÍ':'NO'}</td>
                                <td class='text-center'>
                                    <div class="d-flex justify-content-around">
                                        <button onclick="getProducto(${idProducto})" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i></button>
                                        <button onclick="deleteProducto(${idProducto})" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                                    </div>
                                </td>
                            </tr>`;


                    }
                    $("#productos").append(tr_str);

                }
            });
        }

        function cancelar(){
            $('#nombre').val('');
            $('#descripcion').val('');
            $('#precio').val('');
            $('#stock').val('');
            $('#activo').attr('checked', false);
        }
        function getProducto(id){

            $.ajax({
                url:`http://localhost:8091/api/productos/${id}`,
                type:'GET',
                dataType: 'JSON',
                success(response){
                    console.log(response);
                    idProducto = response.id;
                    $('#nombre').val(response.nombre);
                    $('#descripcion').val(response.descripcion);
                    $('#precio').val(response.precio);
                    $('#stock').val(response.stock);
                    $('#activo').attr('checked', response.active);

                    $("#exampleModal").modal('show');
                },
                error(response){
                    console.log(response);
                }
            });
        }

        function deleteProducto(id){
            console.log(id);
            $.ajax({
                url:`http://localhost:8091/api/productos/${id}`,
                type:'DELETE',
                dataType: 'JSON',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success(response){
                    console.log(response);

                    $('#liveToast').removeClass('hide');
                    $('#liveToast').addClass('show');
                    setTimeout(function (){
                        $('#liveToast').removeClass('show');
                        $('#liveToast').addClass('hide');
                        listarProductos();
                    },2000);
                },
                error(response){
                    console.log(response);
                    $('#liveToast').removeClass('hide');
                    $('#liveToast').addClass('show');
                    setTimeout(function (){
                        $('#liveToast').removeClass('show');
                        $('#liveToast').addClass('hide');

                    },2000);
                    listarProductos();
                }
            });
        }

        function saveProducto(){
            nombre = $('#nombre').val();
            descripcion = $('#descripcion').val();
            precio = $('#precio').val();
            stock = $('#stock').val();
            activo = $('#activo').is(':checked')?true:false;
            console.log(idProducto);
            console.log(activo);

            if($("#productForm").valid()){
                if(idProducto==0){
                    let datos = {
                        nombre:nombre,
                        descripcion:descripcion,
                        precio:precio,
                        stock:stock,
                        active:activo,
                        eliminado:0
                    };
                    $.ajax({
                        url:'http://localhost:8091/api/productos/save',
                        type:'POST',
                        dataType: 'JSON',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        data:JSON.stringify(datos),
                        success(response){
                            console.log(response);
                            $("#exampleModal").modal('hide');
                            listarProductos();
                            cancelar();
                        },
                        error(response){
                            console.log(response);
                            $("#exampleModal").modal('hide');
                            listarProductos();
                            cancelar();
                        }
                    });
                }else{
                    let datos = {
                        id:idProducto,
                        nombre:nombre,
                        descripcion:descripcion,
                        precio:precio,
                        stock:stock,
                        active:activo,
                        eliminado:0
                    };
                    $.ajax({
                        url:'http://localhost:8091/api/productos/edit',
                        type:'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        dataType: 'JSON',
                        data:JSON.stringify(datos),
                        success(response){
                            console.log(response);
                            $("#exampleModal").modal('hide');
                            listarProductos();
                            cancelar();
                        },
                        error(response){
                            console.log(response);
                            $("#exampleModal").modal('hide');
                            listarProductos();
                            cancelar();
                        }
                    });
                }

            }else{
                alert('Llenar correctamente el formulario.');
            }

        }

        function activeToast(){
            $('#liveToast').removeClass('hide');
            $('#liveToast').addClass('show');
            setTimeout(function (){
                $('#liveToast').removeClass('show');
                $('#liveToast').addClass('hide');

            },2000);
        }

        window.onload = function(){
            console.log('cargado')
            listarProductos();
            console.log('hola')
        }
    </script>
</head>
<body>
<div layout:fragment="header">Productos</div>
<div layout:fragment="buttons">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="resetId()">
        Agregar
    </button>
</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover" >
                <thead>
                <tr>
                    <th class="text-center" scope="col">Nombre</th>
                    <th class="text-center" scope="col">Descripcion</th>
                    <th class="text-center" scope="col">Precio</th>
                    <th class="text-center" scope="col">Stock</th>
                    <th class="text-center" scope="col">Activo</th>
                    <th class="text-center" scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody id="productos">


                </tbody>
            </table>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="productForm">
                        <div class="form-group">
                            <label for="nombre">NOMBRE</label>
                            <input type="text" name="nombre" class="form-control" id="nombre" required>

                        </div>
                        <div class="form-group">
                            <label for="descripcion">DESCRIPCION</label>
                            <input type="text" name="descripcion" class="form-control" id="descripcion" required>

                        </div>
                        <div class="form-group">
                            <label for="precio">PRECIO</label>
                            <input type="number" name="precio" class="form-control" id="precio" required>

                        </div>
                        <div class="form-group">
                            <label for="stock">STOCK</label>
                            <input type="number" name="stock" class="form-control" id="stock" required>

                        </div>
                        <div class="form-group form-check">

                            <input type="checkbox" class="form-check-input" id="activo">
                            <label class="form-check-label" for="activo">ACTIVO</label>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cancelar();">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="saveProducto();">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    

    <div class="position-fixed top-0 right-0 p-3" style="z-index: 9999; right: 0; top: 40px;">
        <div id="liveToast" class="toast alert alert-success hide" role="alert" >
                    Producto eliminado correctamente.
        </div>
    </div>
</div>
</body>
</html>