<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>
<div layout:fragment="header">Productos</div>
<div layout:fragment="buttons">
        <a th:href="@{/product/add}" class="btn btn-md btn-primary">Agregar</a>
    </div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="text-center" scope="col">Nombre</th>
                    <th class="text-center" scope="col">Descripcion</th>
                    <th class="text-center" scope="col">Precio</th>
                    <th class="text-center" scope="col">Stock</th>
                    <th class="text-center" scope="col">Activo</th>
                    <th class="text-center" scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product:${listProducts}">
                    <th class="text-center" th:text="${product.name}" scope="row"></th>
                    <td class="text-center" th:text="${product.description}"></td>
                    <td class="text-center" th:text="${product.price}"></td>
                    <td class="text-center" th:text="${product.stock}"></td>
                    <td class="text-center" th:text="${product.verActive(product.active)}"></td>
                    <td class="text-center">
                            <div class="d-flex justify-content-around">
                                <a th:href="@{/product/edit/{id}(id=${product.id})}" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i></a>
                                <a th:href="@{/product/delete/{id}(id=${product.id})}" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                            </div>

                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>