<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <title>Add Seller</title>
</head>
<body>
<div layout:fragment="header">Registrar Vendedor</div>
<div layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/seller/save}" th:object="${seller}" method="post">
                        <div>
                            <input hidden type="text" name="idSeller" th:if="${size}" th:value="${seller.id}">
                            <input hidden type="text" name="idSeller" th:if="${!size}" th:value="${0}">
                        </div>
                        <div class="form-group">
                            <label for="dni">DNI</label>
                            <input type="text" name="dni" class="form-control" id="dni" th:value="${seller?.dni}"  required>

                        </div>
                        <div class="form-group">
                            <label for="firstName">FIRST NAME</label>
                            <input type="text" class="form-control" name="firstName" id="firstName" th:value="${seller?.firstName}" required>

                        </div>
                        <div class="form-group">
                            <label for="lastName">LAST NAME</label>
                            <input type="text" class="form-control" name="lastName" id="lastName" th:value="${seller?.lastName}" required>

                        </div>
                        <div class="form-group">
                            <label for="email">EMAIL</label>
                            <input type="email" class="form-control" name="email" id="email" th:value="${seller?.email}" required>

                        </div>
                        <a th:href="@{/seller}" class="btn btn-light">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Registrar</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>