<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <title>Add Cliente</title>
</head>
<body>
<div layout:fragment="header">Registrar Cliente</div>
<div layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/client/save}" th:object="${client}" method="post">
                        <div>
                            <input hidden type="text" name="idClient" th:if="${size}" th:value="${client.id}">
                            <input hidden type="text" name="idClient" th:if="${!size}" th:value="${0}">
                        </div>
                        <div class="form-group">
                            <label for="dni">DOCUMENTO DE IDENTIDAD</label>
                            <input type="text" name="documentoIdentidad" class="form-control" id="dni" th:value="${client?.documentoIdentidad}"  required>

                        </div>
                        <div class="form-group">
                            <label for="firstName">RAZON SOCIAL</label>
                            <input type="text" class="form-control" name="razonSocial" id="firstName" th:value="${client?.razonSocial}" required>

                        </div>
                        <div class="form-group">
                            <label for="email">EMAIL</label>
                            <input type="email" class="form-control" name="email" id="email" th:value="${client?.email}" >

                        </div>
                        <a th:href="@{/client}" class="btn btn-light">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Registrar</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>