<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <title>Add Venta</title>
    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <script >
        let idProducto = 0;
        let nombre;
        let descripcion;
        let precio;
        let stock;
        let activo;

        function resetId(){
            idProducto = 0;
        }

        function listarProductos(){
            $.ajax({
                url: 'http://localhost:8091/api/productos',
                type: 'get',
                dataType: 'JSON',
                success: function(response){
                    console.log(response)
                    let len = response.length;
                    let opt_str = '';
                    $("#cboProduct").empty();
                    for(let i=0; i<len; i++){
                        let idProducto =response[i].id;
                        var nombres = response[i].nombre;
                        var descripcion = response[i].descripcion;
                        var precio = response[i].precio;
                        var stock = response[i].stock;
                        var activo = response[i].active;

                        opt_str += `
                                <option value="${nombres}-${precio}-${stock}-${idProducto}" data-precio="${precio}">${nombres} -- S/${precio}</option>
                                </td>
                            </tr>`;


                    }
                    $("#cboProduct").append(opt_str);

                }
            });
        }

        function cancelar(){
            $('#nombre').val('');
            $('#descripcion').val('');
            $('#precio').val('');
            $('#stock').val('');
            $('#activo').attr('checked', false);
        }
        function getProducto(id){

            $.ajax({
                url:`http://localhost:8091/api/productos/${id}`,
                type:'GET',
                dataType: 'JSON',
                success(response){
                    console.log(response);
                    idProducto = response.id;
                    $('#nombre').val(response.nombre);
                    $('#descripcion').val(response.descripcion);
                    $('#precio').val(response.precio);
                    $('#stock').val(response.stock);
                    $('#activo').attr('checked', response.active);

                    $("#exampleModal").modal('show');
                },
                error(response){
                    console.log(response);
                }
            });
        }

        function deleteProducto(id){
            console.log(id);
            $.ajax({
                url:`http://localhost:8091/api/productos/${id}`,
                type:'DELETE',
                dataType: 'JSON',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success(response){
                    console.log(response);

                    $('#liveToast').removeClass('hide');
                    $('#liveToast').addClass('show');
                    setTimeout(function (){
                        $('#liveToast').removeClass('show');
                        $('#liveToast').addClass('hide');
                        listarProductos();
                    },2000);
                },
                error(response){
                    console.log(response);
                    $('#liveToast').removeClass('hide');
                    $('#liveToast').addClass('show');
                    setTimeout(function (){
                        $('#liveToast').removeClass('show');
                        $('#liveToast').addClass('hide');

                    },2000);
                    listarProductos();
                }
            });
        }

        function saveProducto(){
            nombre = $('#nombre').val();
            descripcion = $('#descripcion').val();
            precio = $('#precio').val();
            stock = $('#stock').val();
            activo = $('#activo').is(':checked')?true:false;
            console.log(idProducto);
            console.log(activo);

            if($("#productForm").valid()){
                if(idProducto==0){
                    let datos = {
                        nombre:nombre,
                        descripcion:descripcion,
                        precio:precio,
                        stock:stock,
                        active:activo,
                        eliminado:0
                    };
                    $.ajax({
                        url:'http://localhost:8091/api/productos/save',
                        type:'POST',
                        dataType: 'JSON',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        data:JSON.stringify(datos),
                        success(response){
                            console.log(response);
                            $("#exampleModal").modal('hide');
                            listarProductos();
                            cancelar();
                        },
                        error(response){
                            console.log(response);
                            $("#exampleModal").modal('hide');
                            listarProductos();
                            cancelar();
                        }
                    });
                }else{
                    let datos = {
                        id:idProducto,
                        nombre:nombre,
                        descripcion:descripcion,
                        precio:precio,
                        stock:stock,
                        active:activo,
                        eliminado:0
                    };
                    $.ajax({
                        url:'http://localhost:8091/api/productos/edit',
                        type:'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        dataType: 'JSON',
                        data:JSON.stringify(datos),
                        success(response){
                            console.log(response);
                            $("#exampleModal").modal('hide');
                            listarProductos();
                            cancelar();
                        },
                        error(response){
                            console.log(response);
                            $("#exampleModal").modal('hide');
                            listarProductos();
                            cancelar();
                        }
                    });
                }

            }else{
                alert('Llenar correctamente el formulario.');
            }

        }

        function activeToast(){
            $('#liveToast').removeClass('hide');
            $('#liveToast').addClass('show');
            setTimeout(function (){
                $('#liveToast').removeClass('show');
                $('#liveToast').addClass('hide');

            },2000);
        }

        window.onload = function(){
            console.log('cargado')
            listarProductos();
            console.log('hola')
        }
    </script>
</head>
<body>
<div layout:fragment="header">Registrar Venta</div>
<div layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/sale/save}" th:object="${sale}" method="post">
                        <div>
                            <input hidden type="text" name="idSale" th:if="${size}" th:value="${sale.id}">
                            <input hidden type="text" name="idSale" th:if="${!size}" th:value="${0}">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-10 pr-0">
                                        <div class="form-group">
                                            <label for="dniClient">Cliente</label>
                                            <select name="docIdentidadClient" id="dniClient" class="form-control" required>
                                                <option value="-1" disabled >Seleccionar...</option>
                                                <option th:each="client:${listClients}" th:value="${client.documentoIdentidad}" th:utext="${client.toString1()}" th:selected="${client.documentoIdentidad==sale?.client?.documentoIdentidad}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-2 pl-1 d-flex align-items-center">

                                        <button type="button" class="btn btn-primary mt-3"  data-toggle="modal" data-target="#exampleModal">
                                            +
                                        </button>

                                    </div>
                                </div>

                            </div>
                            <div class="col-6">
                                <label for="dniSeller">Vendedor</label>
                                <select name="dniSeller" id="dniSeller" class="form-control" required>
                                    <option value="-1" disabled >Seleccionar...</option>
                                    <option th:each="seller:${listSellers}" th:value="${seller.dni}" th:utext="${seller.toString() }" th:selected="${seller.dni==sale?.seller?.dni}"></option>
                                </select>
                            </div>
                        </div>
                        <hr class="w-100">
                        <div>
                            <h2>Productos</h2>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <select name="cboProduct" id="cboProduct" class="form-control" required>
                                        <option value="-1" disabled >Seleccionar...</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <a class="btn btn-secondary my-auto" onclick="addProduct(event)">Agregar</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th class="text-center" scope="col">Producto</th>
                                        <th class="text-center" scope="col">Cantidad</th>
                                        <th class="text-center" scope="col">Precio</th>
                                        <th class="text-center" scope="col">Subtotal</th>
                                        <th class="text-center" scope="col">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tableBody">
                                    <tr th:id="${'row-'+detail?.product?.id}" th:each="detail:${sale?.getItemsNoEliminados()}" class="row-product">
                                        <td class="d-none">
                                            <input  hidden readonly th:value="${detail?.id}" name="idDetail[]" type="text">
                                        </td>
                                        <td class="d-none">
                                            <input th:id="${'elim-'+detail?.product?.id}" hidden readonly th:value="${detail?.eliminado}" name="eliminado[]" type="text">
                                        </td>
                                        <td class="form-group">
                                            <input readonly th:value="${detail?.product?.name}" name="product[]" class="form-control" type="text">
                                        </td>
                                        <td class="form-group">
                                            <input min="0" th:max="${detail?.product?.stock}" th:value="${detail?.quantity}" name="quantity[]" onchange="updateSubtotal(event)" class="form-control" type="number">
                                        </td>
                                        <td class="text-center txtPrice" th:text="${detail?.product?.price}"></td>
                                        <td class="text-center txtSubtotal" th:id="${'sub-'+detail?.product?.id}" th:text="${detail?.quantity*detail?.product?.price}"></td>
                                        <td class="text-center">
                                            <a th:onclick="|deleteProduct(event, ${detail?.product?.id})|" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td class="text-lg-right text-bold" colspan="3">Total</td>
                                            <td id="totalSale" class="text-lg-center text-bold">
                                                <span th:if="${size}" th:text="${sale?.getTotal()}"></span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <a th:href="@{/sale}" class="btn btn-light mr-3">Cancelar</a>
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="clientForm">
                        <div class="form-group">
                            <label for="docIdentidad">DOCUMENTO DE IDENTIDAD</label>
                            <input type="text" name="documentoIdentidad" class="form-control" id="docIdentidad"   required>

                        </div>
                        <div class="form-group">
                            <label for="razonSocial">RAZON SOCIAL</label>
                            <input type="text" class="form-control" name="razonSocial" id="razonSocial"  required>

                        </div>
                        <div class="form-group">
                            <label for="email">EMAIL</label>
                            <input type="email" class="form-control" name="email" id="email"  >

                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="addClient()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<th:block layout:fragment="script">
    <script type="text/javascript">
        let tableBody = document.getElementById("tableBody");
        let arrayProducts = [];

        let totalSale = document.getElementById("totalSale");
        let cboProduct = document.getElementById("cboProduct");

        function addClient(){
            let url = "[[${@environment.getProperty('api.base.path')}]]/api/client/list";
            let data = $("#clientForm").serialize();
            let dni = $("#docIdentidad").val();
            let nombre = $("#razonSocial").val();
            //let apellidos = $("#lastName").val();
            let email = $("#email").val();
            let cboClient = $("#dniClient");
            console.log(dni);
            //console.log(url);
            //console.log(data);
            //console.log($("#clientForm").valid());

            if($("#clientForm").valid()){
                $.ajax({
                    type:'POST',
                    data:{
                        documentoIdentidad:dni,
                        razonSocial:nombre,
                        //lastName:apellidos,
                        email:email
                    },
                    dataType: "JSON",
                    url:"/api/client/save",
                    success: function (data){
                        console.log(data);
                        if(data.length>0){
                            cboClient.empty();
                            data[1].forEach((el,i)=>{
                                cboClient.append($("<option>",{
                                    value:el.documentoIdentidad,
                                    text:`${el.razonSocial}`
                                }));
                            });
                            $("#exampleModal").modal('hide');
                            $("#clientForm")[0].reset();
                            $(`#dniClient option[value = ${data[0]}]`).attr('selected',true);
                        }else{
                            $("#exampleModal").modal('hide');
                            $("#clientForm")[0].reset();
                            alert('El cliente ya existe.')
                        }


                        //console.log(JSON.parse(data[0]));
                        //console.log(data[0].status);
                    },
                    error: function (data){
                        console.log('error',data);
                    }

                });
                console.log(url);
            }
        }

        function addProduct(e){
            let product = cboProduct.value.split("-");
            let name = product[0];
            let price = product[1];
            let stock = product[2];
            let id = product[3];
            let temp = `
                    <td class="d-none">
                        <input hidden value="0" name="idDetail[]" type="text">
                    </td>
                    <td class="d-none">
                        <input id="elim-${id}" hidden value="false" name="eliminado[]" type="text">
                    </td>
                    <td class="d-none">
                        <input readonly value="${id}" name="product[]" class="form-control txtProduct" type="text">
                    </td>
                    <td class="form-group">
                        ${name}
                    </td>
                    <td class="form-group">
                        <input min="0" max="${stock}" value="1" name="quantity[]" onchange="updateSubtotal(event)" class="form-control numQuantity" type="number">
                    </td>
                    <td class="text-center txtPrice">
                        <input readonly value="${price}" name="price[]" class="form-control txtPrecio" type="text">
                    </td>
                    <td class="text-center txtSubtotal" id="sub-${id}">0</td>
                    <td class="text-center">
                        <a onclick="deleteProduct(event,${id})" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                    </td>`;


            //let aux = document.querySelectorAll('.row-product');
            //for(let e of aux){
            //    console.log(e.getAttribute("id"));
            //}
            //console.log(document.querySelectorAll('.row-product'));
            if(arrayProducts.includes(id)){
                alert("No se puede ingresar mismo un producto dos veces.");
            }else{
                arrayProducts.push(id);
                const tem_row = document.createElement("tr");
                tem_row.setAttribute("id", `row-${id}`);
                tem_row.innerHTML = temp;
                tableBody.appendChild(tem_row);
            }

        }

        function updateSubtotal(e){
            let row =  e.target.parentElement.parentElement;
            const subtotal = row.querySelector(".txtSubtotal");
            const price = parseFloat(row.querySelector(".txtPrice input").value);
            const quantity = e.target.value;
            subtotal.innerText = (quantity*price).toString();
            updateTotal();
        }

        function updateTotal(){
            let totals = document.querySelectorAll(".txtSubtotal");
            let sum = 0;
            for(let item of totals){
                sum+=parseFloat(item.innerText);
            }
            totalSale.innerText = sum.toString();

        }

        function deleteProduct(e, id){
            itemElim = document.getElementById(`elim-${id}`);
            rowElim = document.getElementById(`row-${id}`);
            rowSubtotal = document.getElementById(`sub-${id}`);
            rowSubtotal.classList.remove("txtSubtotal");
            itemElim.value = true;
            rowElim.classList.add('d-none');
            itemElim.removeAttribute("id");
            rowElim.removeAttribute("id");
            rowSubtotal.removeAttribute("id");
            let index = arrayProducts.indexOf(id);
            arrayProducts.splice(index,1);
            updateTotal();
        }

        function updateArrayProducts(){
            console.log(document.querySelectorAll('.row-product'));
        }

        document.addEventListener("DOMContentLoaded", function (){
            let aux = document.querySelectorAll('.row-product');
            for(let e of aux){
                let product = e.getAttribute("id").split('-')[1];
                arrayProducts.push(product);
                //console.log(e.getAttribute("id"));
            }

            console.log(arrayProducts);
        });
    </script>
</th:block>
</body>
</html>